
<section id="skills-section">
  {{> skills }}
</section>

<div id="version-info">
  <div>Created {{ created }}</div>
  <div>(hash: <a href="https://github.com/timmd909/resume-builder/commits/{{ head }}">{{ shortenHash head }}</a>)</div>
</div>
