//
// VARIABLE OVERRIDES
//
// This should be kept to a minimum. I want the resume and the website
// to have the highest level of similarity
//

// Basic overrides for the Timstrap/Bootstrap styling
@import 'resume/variables';


// Include Timstrap (Bootstrap fork)
@import '../node_modules/timstrap/scss/timstrap';

//
// Include the rest of the resume styles
//
@import 'resume/page';
@import 'resume/logo';

h1, h2, h3, h4, h5, h6 {
  font-family: Comfortaa, $font-family-sans-serif;
  font-weight: bold;
  letter-spacing: 0.5pt;
}

.ugly-outline { // fer debuggin'
  border: 1px solid #f0f;
}

.xp {
  // nothing yet
}
.xp-1::before { content: "\f244" !important; color: lighten($brand-red, 10%); }
.xp-2::before { content: "\f243" !important; color: lighten($brand-green, 20%); }
.xp-3::before { content: "\f242" !important; color: lighten($brand-green, 10%); }
.xp-4::before { content: "\f241" !important; color: lighten($brand-green, 0%); }
.xp-5::before { content: "\f240" !important; color: darken($brand-green, 10%); }
