@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('../files/Quicksand_Book.otf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('../files/Quicksand_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: url('../files/Quicksand_Bold_Oblique.otf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('../files/Quicksand_Light.otf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url('../files/Quicksand_Light_Oblique.otf') format('opentype');
}
