<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">

    <title>Tim Doerzbacher &mdash; R&eacute;sum&eacute;</title>
  </head>
  <body>
    <h1>Tim Doerzbacher &mdash; <%= metadata.headline %></h1>

    <p><%= metadata.introcopy %></p>

    <h1>Contact Info</h1>

    <h1>What I Can Do</h1>

    <h2>Technologies</h2>
    <h2>Languages</h2>
    <h2>Skills &amp; Techniques</h2>
    <h2>Operating Systems</h2>

    <h1>Where I've Worked</h1>

    <h1>References</h1>

    <p>References available upon request.</p>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
