#accomplishments-section {
  .accomplishments-list {
    @include right-side-list;

    > li:before {
      font: ForkAwesome;
      color: $brand-blue;
      content: "\f0c8" !important;
    }
  }

  .accomplishments-list_item {
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
  }

  .accomplishments-list_notes {
    margin: 0.25rem 0;
    // font-size: 8pt;
    line-height: 1.2rem;
  }
}
