<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/fork-awesome.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Jiahui Shi &mdash; {{ metadata.headline }} &mdash; R&eacute;sum&eacute;</title>
  </head>
  <body>
    <div id="main-container">
      {{> header }}

      <div class="d-flex flex-row flex-grow-1">

        <div id="left-column">
          {{> left-side }}
        </div>

        <div id="right-column">
          {{> right-side }}
        </div>

      </div><!-- / .d-flex -->

    </div>
  </body>
</html>
