<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fork-awesome.css">
    <link rel="stylesheet" href="comfortaa/latin.css">
    <title>Tim Doerzbacher &mdash; {{ metadata.headline }} &mdash; R&eacute;sum&eacute;</title>
  </head>
  <body>

    <!-- ================================================================== -->

    Hello, world!

    <!-- ================================================================== -->

  </body>
</html>
