//
// VARIABLE OVERRIDES
//
// This should be kept to a minimum. I want the resume and the website
// to have the highest level of similarity
//

// Basic overrides for the Timstrap/Bootstrap styling
@import './styles/variables';
@import './styles/mixins';
@import './styles/fonts';

$enable-print-styles: false; // very important to fix the layout!

// Include Timstrap (Bootstrap fork)
// @import 'timstrap/scss/timstrap/color-palette';
@import 'timstrap/scss/timstrap/variables';
@import 'bootstrap/scss/bootstrap';
// @import 'timstrap/scss/timstrap/navbar';
// @import 'timstrap/scss/timstrap/type';

//
// Miscellaneous stuff that I don't know where to put...
//
h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, $font-family-sans-serif;
  font-weight: bold;
  letter-spacing: 0.5pt;
}

.ugly-outline { // fer debuggin'
  border: 1px solid #f0f;
}

html {
  font-size: 9pt;
  height: 100%;
}

@page {
  margin: 1cm 1.5cm 1.25cm 1.5cm;
  font-size: 9pt;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: row;
  // flex-grow: 1;
  width: 100%;
}

#left-column {
  position: absolute;
  left: 0;
  top: 0;
  width: $left-column-width + $column-gutter-width;
  padding-right: $column-gutter-width;
  height: 100%;
}

#logo {
  background: #888; margin: auto;
  content: 'Logo goes here';
  width: 1.5in;
  height: 1.5in;
}

#right-column {
  width: 100%;
  padding-left: $left-column-width + $column-gutter-width;
  height: 100%;
}


#experiences {
  margin-bottom: 1rem;

  .experience {
    display: flex;


    .date-range {
      width: 20mm;
      margin-right: 2pt;
    }

    .show_title {
      width: 40mm;
      margin-right: 2pt;
    }
    .company {
      width: 40mm;
      margin-right: 2pt;
    }

    .director {
      margin-right: 2pt;
      width: 25mm;
    }

    .title {
      margin-right: 2pt;
    }

    .location {
      margin-right: 2pt;
    }
  } // .experience
}


#skills {
  .skill-category {
    display: flex;
    flex-direction: row;
  }
  .skill-category_name {
    width: 20mm;
  }
}
