//
// VARIABLE OVERRIDES
//
// This should be kept to a minimum. I want the resume and the website
// to have the highest level of similarity
//

// Basic overrides for the Timstrap/Bootstrap styling
@import './styles/variables';
@import './styles/mixins';
@import './styles/fonts';

$enable-print-styles: false; // very important to fix the layout!

// Include Timstrap (Bootstrap fork)
// @import 'timstrap/scss/timstrap/color-palette';
@import 'timstrap/scss/timstrap/variables';
@import 'bootstrap/scss/bootstrap';
// @import 'timstrap/scss/timstrap/navbar';
// @import 'timstrap/scss/timstrap/type';

@import './styles/experience';

//
// Miscellaneous stuff that I don't know where to put...
//
h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, $font-family-sans-serif;
  font-weight: bold;
  letter-spacing: 0.5pt;
}

.ugly-outline { // fer debuggin'
  border: 1px solid #f0f;
}

.text-logo-blue {
  color: $logo-blue;
}

.text-light-gray {
  color: $gray-400;
}

html {
  font-size: 9pt;
  height: 100%;
}
body {
  margin: 0 auto;
}

@page {
  margin: 1cm 1.5cm 1.25cm 1.5cm;
  font-size: 9pt;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  // flex-direction: row;
  // flex-grow: 1;
  width: 100%;
}

#left-column {
  // position: absolute;
  // left: 0;
  // top: 0;
  width: $left-column-width + $column-gutter-width;
  padding-right: $column-gutter-width;
  height: 100%;
}

#right-column {
  // width: 100%;
  // padding-left: $left-column-width + $column-gutter-width;
  height: 100%;
}

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- //

#page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.75rem;
  border-bottom: 1pt solid $gray-400;
  margin-bottom: 0.75rem;

  .name-and-title {
    flex-grow: 1;
    h1, h2 {
      margin: 0;
    }
    h1 {
      font-size: 2.75rem;
      margin-bottom: 2pt;
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 4pt;
    }
    h3 {
      font-size: 1rem;
    }
  }

  .contact-info {
    @extend .list-unstyled;
    @extend .align-items-center;
    @extend .d-flex;
    @extend .flex-row;
    @extend .mb-0;

    i.fa {
      margin-right: 4pt;
      color: $logo-blue;
    }
    a {
      margin-right: 12pt;
      color: $black;
    }
  }
} // #page-header

  #logo {
    width: 20mm;
    height: 20mm;
  }

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- //

#contact-section {
  margin-bottom: $standard-section-bottom-margin;
}


#skills {
  .skill-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-family: Quicksand;
      font-weight: bold;
    }
  }

  .skill-category_level i {
    color: $logo-blue;
  }

  .skill-category_skill-list {
  }

  .skill-category_skill-wrapper {
    margin: 2pt 0;
  }

  .skill-category_level {
    margin-left: 8pt;
    margin-right: 8pt;
  } // .skill-category_level

  .skill-category_name {
    // nothing yet
  }
}
