//
// Keep all the page specific styles here
//

html {
  font-size: 9pt;
  height: 100%;
}

body {
  // none of this stuff is really necessary but it makes it a lot easier
  // to work with in the browser.
  position: relative;
  margin: 0 auto;
  width: 8.5 * 25.4mm - 2 * 10mm;
  height: 100%;
}

@page {
  margin: 1cm 1.5cm 1.25cm 1.5cm;
  // font-size: 9pt;

  @bottom-left {
    @include footer-styles;
    content: element(footerBottomLeft);
  }
  @bottom-right {
    @include footer-styles;
    content: element(footerBottomRight);
  }
}

#footer-bottom-left {
  @include footer-styles;
  position: running(footerBottomLeft);
}

#footer-bottom-right {
  @include footer-styles;
  position: running(footerBottomRight);
}

// handy utility to prevent line breaks in areas
.nobreak {
  page-break-inside: avoid;
}

// Always hide the link decorations. It's distracting when previewing the
// page in the browser.
a, a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#left-column {
  position: absolute;
  left: 0;
  top: 0;
  width: $left-column-width + $column-gutter-width;
  padding-right: $column-gutter-width;
  height: 100%;
}

#right-column {
  padding-left: $left-column-width + $column-gutter-width;
  height: 100%;
}
