$grid-gutter-width: 1rem;
$font-size-base: 1rem;

// $margin-left-right: 4rem;
// $margin-top-bottom: 2rem;

// Bootstrap's print styles break everything in PagedJS so let's not
// include those.
$enable-print-styles: false;

$left-column-width: 60mm;
$column-gutter-width: 5mm;

// Update the text colors to be more printer friendly
$gray-100: #fff;
$gray-200: #eee;
$gray-300: #ddd;
$gray-400: #ccc;
$gray-500: #bbb;
$gray-600: #666;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #000;
$body-color: $black;
