
#skills {
  // flex-grow: 1;

  .skill-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-family: Quicksand;
      font-weight: bold;
    }
  }

  .skill-category_level i {
    color: $logo-blue;
  }

  .skill-category_skill-list {
  }

  .skill-category_skill-wrapper {
    margin: 2pt 0;
  }

  .skill-category_level {
    margin-left: 4pt;
    margin-right: 4pt;
  } // .skill-category_level

  .skill-category_name {
    // nothing yet
  }
}
