// Styles for the sidebar sections (skills, OSs, etc)

#contact-info {
  margin: 1.5rem 0;

  .fa {
    color: $brand-green;
  }
}

.sidebar-section {
  h3 {
    font-size: 11pt;
    margin: 1rem 0;
    margin-left: -0.5mm; // tweak to line things up a bit better
  }

  .sidebar-section_list {
    @extend .list-unstyled;
    &--2-col {
      columns: 2;
    }
  }

  i.fa-fw {
    margin-right: 0.5rem;
  }
}
