
.work-list {
  @extend .d-block;

  .work-item {
    @extend .d-flex;
    @extend .nobreak;
    margin: 0.75rem 0;

    .work-item_start, .work-item_end {
      @extend h6;
      @extend small;
      color: $brand-green;
    }
    .work-item_end {
      @extend .h5;
      margin: 0.5rem 0 0.5rem 0;
    }
    .work-item_start {
      margin: 0.5rem 0;
    }

    .work-item_duration {
      @extend .d-flex;
      @extend .flex-column;
      @extend .text-center;
      @extend .pl-0;
      max-width: 2rem;
    }

    .work-item_duration-divider {
      @extend .d-flex;
      @extend .flex-column;
      @extend .flex-grow-1;

      .work-item_duration-divider_inside {
        @extend .flex-grow-1;
        @extend .w-50;
        border-color: lighten($brand-green, 50%);

        border-right-width: 2pt;
        margin-left: 1pt;

        // border-right-style: dotted;
        border-right-style: solid;
      }
    }

    .work-item_list {
      padding-inline-start: 12pt;
      font-size: 90%;
    }
    .work-item_list-notes {
      @extend .work-item_list;
    }

  } // .work-item
}
