// this for styling to show what my level of experience w/ a
// particular subject. For now, that means displaying batteries.

.xp {
  // nothing yet
}
.xp-1::before { content: "\f244" !important; color: $brand-red; }
.xp-2::before { content: "\f243" !important; color: $brand-green; }
.xp-3::before { content: "\f242" !important; color: $brand-green; }
.xp-4::before { content: "\f241" !important; color: $brand-green; }
.xp-5::before { content: "\f240" !important; color: $brand-green; }
