<li class="work-history_item">
  <span class="work-history_title">{{ title }}</span>

  <i class="fa fa-fw fa-at text-muted mx-1"></i>

  <span class="work-history_company">{{ name }}</span>

  <span class="work-history_duration">
    {{ duration.start }}
    <span class="text-muted mx-1">&ndash;</span>
    {{#if duration.end }}{{ duration.end }}{{ else }}Now{{/if}}
  </span>

</li>
