<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/fork-awesome.css">
    <link rel="stylesheet" href="comfortaa/latin.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Tim Doerzbacher &mdash; {{ metadata.headline }} &mdash; R&eacute;sum&eacute;</title>
  </head>
  <body>

    <!-- ================================================================== -->

    <div id="left-column">

      <section id="logo-container">
        <img src="images/logo.svg" id="logo">
        <div>
          <h1>{{ metadata.fullName }}</h1>
          <h2>{{ metadata.headline }}</h2>
        </div>
      </section><!-- / #logo-container -->

      <section id="contact-info" class="sidebar-section">
        {{> contactInfoItem icon='fa-envelope-o' type="mailto:"  text=metadata.email }}
        {{> contactInfoItem icon='fa-link'       type="https://" text=metadata.website }}
      </section><!-- / #contact-info -->

      <section id="skills-section" class="sidebar-section">
        <h3>{{ skills.title }}</h3>
        <ul class="sidebar-section_list">
          {{# skills.entries }}
            {{> sidebarListItem }}
          {{/ skills.entries }}
        </ul>
      </section>

      <section id="operating-systems-section" class="sidebar-section">
        <h3>{{ operating_systems.title }}</h3>
        <ul class="sidebar-section_list sidebar-section_list--2-col">
          {{# operating_systems.entries }}
            {{> sidebarListItem }}
          {{/ operating_systems.entries }}
        </ul>
      </section>

      <section id="languages-section" class="sidebar-section">
        <h3>{{ languages.title }}</h3>
        <ul class="sidebar-section_list sidebar-section_list--2-col">
          {{# languages.entries }}
            {{> sidebarListItem }}
          {{/ languages.entries }}
        </ul>
      </section>

      <section id="tools-section" class="sidebar-section">
        <h3>{{ tools.title }}</h3>
        <ul class="sidebar-section_list sidebar-section_list--2-col">
          {{# tools.entries }}
            {{> sidebarListItem }}
          {{/ tools.entries }}
        </ul>
      </section>


    </div><!-- / #left-column -->

    <!-- ================================================================== -->

    <div id="right-column">

      <section id="accomplishments-section" class="nobreak">
        <h3>{{ accomplishments.title }}</h3>

        <ul class="accomplishments-list">
          {{# accomplishments.entries }}
            {{> accomplishmentItem }}
          {{/ accomplishments.entries }}
        </ul>
      </section>

      <section id="work-history-section" class="nobreak">
        <h3>Professional History</h3>

        <ul class="work-history_list">
          {{# experience.entries }}
            {{> workHistoryItem }}
          {{/ experience.entries }}
        </ul>
      </section>

    </div><!-- / #left-column -->

    <!-- ================================================================== -->

    <div id="footer-bottom-left">
      Created {{ created }} from hash
      <a href="https://github.com/timmd909/resume-builder/commits/{{ head }}">{{ shortenHash head }}</a>
    </div>

    <div id="footer-bottom-right">
      Want a resume like this? Fork it at
      <a href="https://github.com/timmd909/resume-builder/">github.com/timmd909/resume-builder</a>
    </div>

    <!-- ================================================================== -->

  </body>
</html>
