<section id="experience-section">
  {{> experiences }}
</section>

<section id="education-section">
  <h2>Education</h2>
  <ul class="list-unstyled">
    {{# education }}
      <li>
        <span class="education_dates">
          {{ start_date }} - {{ end_date }}
        </span>
        <span class="education_name">
          {{ name }}
        </span>
        {{# if degree }}
          <span class="education_degree">
            {{ degree }}
          </span>
        {{/if}}
      </li>
    {{/ education }}
  </ul>
</section>
