//
// VARIABLE OVERRIDES
//
// This should be kept to a minimum. I want the resume and the website
// to have the highest level of similarity
//

// Basic overrides for the Timstrap/Bootstrap styling
@import './styles/variables';
@import './styles/mixins';

// Include Timstrap (Bootstrap fork)
@import 'timstrap/scss/timstrap/color-palette';
@import 'timstrap/scss/timstrap/variables';
@import 'bootstrap/scss/bootstrap';
@import 'timstrap/scss/timstrap/navbar';
@import 'timstrap/scss/timstrap/type';

//
// Include the rest of the resume styles
//
@import './styles/page';
@import './styles/logo';
@import './styles/xp';
@import './styles/accomplishments';
@import './styles/sidebar';
@import './styles/work-history';

//
// Miscellaneous stuff that I don't know where to put...
//
h1, h2, h3, h4, h5, h6 {
  font-family: Comfortaa, $font-family-sans-serif;
  font-weight: bold;
  letter-spacing: 0.5pt;
}

.ugly-outline { // fer debuggin'
  border: 1px solid #f0f;
}
